span.mojito{
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 4px solid rgb(220, 228, 242);
    border-left-color: rgb(178, 178, 255) ;
    border-radius: 50%;
    background-color: transparent;
    margin: auto;
    animation: goround 1.5s infinite;
}
.chatapp{
    display: none !important;
}
@keyframes goround {
    0%{
        transform: rotate(0deg);
    }
    /* 25%{
        transform: rotate(90deg);
    } */
    /* 50%{
        transform: rotate(180deg);
    } */
    /* 75%{
        transform: rotate(270deg);
    } */
    100%{
        transform: rotate(360deg);
    }
}