@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Poppins';
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}
@layer utilities{
    .text-large{
        font-size: 2.75rem;
    }
    .border-me{
        border-width: 1px !important;
    }
    .error{
        color: red;
        height: fit-content;
        padding-bottom: 3px;
    }
    .person{
        height: 15rem;
    }
    .mojito{
        display: inline-block;
        width: 33px;
        height: 33px;
        border: 6px solid rgb(220, 228, 242);
        border-left-color: rgb(0, 0, 255) ;
        border-radius: 50%;
        background-color: white;
        animation: goround 1.5s infinite;
    }
    .chatapp{
        display: none;
    }
    @keyframes goround {
        0%{
            transform: rotate(0deg);
        }
        /* 25%{
            transform: rotate(90deg);
        } */
        /* 50%{
            transform: rotate(180deg);
        } */
        /* 75%{
            transform: rotate(270deg);
        } */
        100%{
            transform: rotate(360deg);
        }
    }
    @media screen and (max-width: 410px) {
        .form-body{
            width: 100%;
        }
        body{
            padding: 0.5rem !important;
        }
        .persons{
            display: flex;
            flex-direction: column;
        }
    }
}